body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6a5acd;

}
header {
  background: linear-gradient(to bottom, #b207dd80, #19057465);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
}
nav {
  background-color: #23024d9f;
  color: #ffffff52;
  text-align: center;
  padding: 10px;
}
nav a {
  color: #e2e2e2;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.logoimage{
  width: 250px;
  height: 75px;
}

.logoimage:hover {
  opacity: 0.7;
}

.carousel-item {
  background-color: #19057465;
  color: #141414;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.carousel-item h1 {
  font-size: 3rem;
  margin: 10px 0 30px 0;

}
.takebutton-style {
  display: inline-block;
  padding: 20px 30px;
  background-color: #2b2a2aad;
  color: #290133;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 10px;
}
.hero-image {
  max-width: 80%;
  height: 65%;
  align-items: center;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.accordion-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.accordion-title {
  display: block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.accordion-content {
  padding: 10px;
}
.accordion-checkbox {
  display: none;
}
.about-cruise,
.about-contact,
.about-safety {
  max-width: 20%;
  height: auto;
}

.trip-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
}

.trip-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 300px;
}

.trip-item img {
  max-width: 100%;
  height: auto;
}

.trip-item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.trip-item p {
  margin: 10px 0;
}

.details-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cruise-card {
  background-color: #a17fc2;
  color: #070011;
  border: 2px solid #640554;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
}

.cruise-card img {
  max-width: 100%;
  height: auto;
}

.cruise-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.cruise-card p {
  margin: 5px 0;
}

.cruise-card .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cruise-card .button-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cruise-card .button-container button:hover {
  background-color: #555;
}

.cruise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-card {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1; 
}

.info-button:hover + .info-card {
  display: block; 
}

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #fff;
  color: #333;
}

select:hover,
select:focus {
  border-color: #555;
}

select option {
  background-color: #fff;
  color: #333;
}

.carousel-item {
  width: 50%;
  height: 50%;
  text-align: center;
}

.carousel-item img {
  width: 50%;
  height: 50%;
}

.colalignc {
  text-align: center; 
  position: relative; 
}

.myheading{
  text-align: center;
  background-color: #19057465;
}

.filter-container {
  margin-bottom: 20px;
  align-items: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

.contact-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.contact-accordion-item {
  text-align: center;
}

.contact-accordion-checkbox {
  display: none; 
}

.contact-accordion-title {
  cursor: pointer;
  background-color: #3f2ac4;
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 100;
}

.contact-accordion-content {
  display: none;
  background-color: #a050eb; 
  color: #1b071a; 
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 100;
}

.contact-accordion-checkbox:checked + .contact-accordion-title + .contact-accordion-content {
  display: block; 
}

.contact-footer {
  background-color: #333; 
  color: #fff; 
  text-align: center;
  padding: 20px;
  width: 100%;
}

.contact-cruise,
.contact-contact,
.contact-safety {
    max-width: 400px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
